.character-showcase {
    width: 27vw;
    height: 55vh;
    border: 1px solid goldenrod;
}

.character-showcase-base {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.character-showcase img {
    width: 60%;
    height: 75%;
    image-rendering: pixelated;
}