.world-menu-main {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 20vw auto;
  background-color: white;
}

.world-menu-side {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: gray;
}

.world-menu-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 55%;
    height: 15%;
    border: 1px solid black;
    background-color: white;
}

.world-menu-title p {
  font-size: 2rem;
  font-weight: bold;
  color: #00bcd4;
}

.world-menu-explore {
    display: grid;
    grid-template-rows: 18vh 80vh;
    grid-gap: 2vh;
    background-color: silver;
}

.world-menu-sort {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    width: 95%;
    height: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}

.world-menu-panel {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    color: #00bcd4;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.world-menu-worlds {
    width: 100%;
    height: 100%;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.world-menu-worldList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

li {
    list-style-type: none;
}

.world-menu-world {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    height: 4rem;
    text-align: center;
    font-size: 2rem;
    background-color: white;
    margin-bottom: 1rem;
}

.hidden {
  display: none;
}
