.inv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.inventory {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.inventory-profile {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 55vh;
  position: absolute;
  top: 25vh;
  left: 20vw;
}

.inventory-profile-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

.inventory-profile-name {
  width: 100%;
  height: 4%;
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: space-around;
  top: 0.6rem;
  font-size: 13px;
  color: white;
}

.inventory-profile-build {
  width: 100%;
  height: 96%;
  position: absolute;
  top: 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inv-prof-upper {
  width: 94%;
  height: 85%;
  position: relative;
}

.inventory-profile-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 5%;
  height: 100%;
  width: 20%;
}

.inventory-profile-left-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2rem;
  position: relative;
  top: 0;
  left: 0;
  height: 80%;
  width: 80%;
}

.inv-prof-lower {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 94%;
  height: 13%;
  position: relative;
  padding: 1rem 0rem 1rem 0rem;
}

.inventory-profile-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  position: relative;
  top: 0;
  left: 0;
  height: 80%;
  width: 65%;
}

.inventory-profile-center {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 7%;
  height: 95%;
  width: 60%;
  left: 20%;
}

.inventory-profile-center-container {
  width: 100%;
  height: 100%;
}

.inventory-profile-right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 5%;
  height: 100%;
  width: 20%;
  right: 0%;
}

.inventory-profile-right-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 2rem;
  position: relative;
  top: 0;
  left: 0;
  height: 80%;
  width: 80%;
}

.inventory-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45vw;
  height: 60vh;
  position: absolute;
  top: 25vh;
  left: 45vw;
}

.inventory-items > img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.inventory-items ul {
  position: absolute;
  top: 25px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  width: 89%;
  height: 87%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.inventory-items ul li {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}
